[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "build",
    "numpy",
    "cython",
    "pybind11==2.11.1",
]
build-backend = "setuptools.build_meta"


[tool.black]
line-length = 80