name: Tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

jobs:
  test-pr:
    name: Test on ${{ matrix.os }} with python${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]
        python-version: ["3.8", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install from sdist
        shell: bash
        run: |
          pipx run build --sdist .
          source_file=$(ls ./dist/*.tar.gz)
          pip install opencv-python-headless
          pip install "${source_file}[tests]"

      - name: Run test cases
        run: cd tests && pytest --cov=faster_coco_eval .
