name: Test

on:
  - push
  - pull_request
  - workflow_call

jobs:
  lint:
    uses: ./.github/workflows/linter.yml

  test:
    needs: [lint]
    name: Test on ${{ matrix.os }}, ${{ matrix.install_from }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        install_from: [source, sdist]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install from source
        if: matrix.install_from == 'source'
        run: pip install .

      - name: Install from sdist
        if: matrix.install_from == 'sdist'
        shell: bash
        run: |
          pipx run build --sdist .
          source_file=$(./dist/*.tar.gz)
          pip install "$(source_file)[tests]"

      - name: Run test cases
        run: pytest tests/*