name: Unittests

on:
  push:
    branches: [main]
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test on ubuntu-latest, sdist
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install from sdist
        shell: bash
        run: |
          pipx run build --sdist .
          source_file=$(ls ./dist/*.tar.gz)
          pip install "${source_file}[tests]"

      - uses: actions/checkout@v2
      - name: Run test cases numpy latest
        working-directory: ./tests
        run: |
          pytest --cov=faster_coco_eval .
